# VS Code
.vscode/

# Mac
.DS_Store

# Cursor
.cursorrules

# Environment variables
.env
.venv/
venv/

# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

copilot-instructions.md

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
